<%= form_for(@pseudo) do |f| %>
  <% if @pseudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pseudo.errors.count, "error") %> prohibited this pseudo from being saved:</h2>

      <ul>
      <% @pseudo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fake_name %><br>
    <%= f.text_field :fake_name %>
  </div>
  <div class="field">
    <%= f.label :real_name %><br>
    <%= f.text_field :real_name %>
  </div>
  <div class="field">
    <%= f.label :votes %><br>
    <%= f.number_field :votes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
