<div class="form-group">
  <%= form_for(@pseudo) do |f| %>
      <div class="form-group">
        <%= f.label :fake_name, "pseudo" %>
        <%= f.text_field :fake_name, placeholder: "make me laugh", class:'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :real_name, "who's that?" %>
        <%= f.text_field :real_name, placeholder: "tell me the real name", class:'form-control' %>
      </div>
      <%= f.submit class:'btn btn-default' %>
  <% end %>
</div>
