<p id="notice"><%= notice %></p>
<%= link_to 'New Pseudo', new_pseudo_path %>
<h1 class='text-center maintitle'>liste</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <ul class="list-group">
        <% @pseudos.each do |pseudo| %>
          <li class="list-group-item">
            <span class="badge">
              <%= pseudo.votes %>
            </span>
            <h2>
              <%= pseudo.fake_name %>
            </h2>
            <%= link_to 'vote', pseudo_upvote_path(pseudo), method: 'post', class:'btn btn-default' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
