<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h5><strong>last entries</strong></h5>
          <%= link_to new_pseudo_path do %>
            new pseudo ?
          <% end %>
        </div>
        <div class="panel-body">
          <ul>
            <% @last_pseudos.each do |pseudo| %>
              <li>
                <strong><%="#{pseudo.fake_name}"%></strong> <span><%="(#{time_ago_in_words(pseudo.created_at)} ago)" %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <ul class="list-group">
        <div class="list-group-item active">
          <h5><strong>pseudos</strong></h5>
          <span>total : <%= @pseudos.count %></span>
        </div>
        <% @pseudos.each do |pseudo| %>
          <li class="list-group-item">
            <span class="btn-upvote">
              <%= link_to pseudo_upvote_path(pseudo), method: 'post' do %>
                <i class="glyphicon glyphicon-triangle-top"></i>
              <% end %>
              <%= pseudo.votes %>
            </span>
            <h3>
              <%= pseudo.fake_name %>
            </h3>
            <% if pseudo.created_at - Time.now > -86400 %>
              <span class="label label-success label-new">NEW</span>
            <% end %>
            <%= link_to pseudo_path(pseudo) do %>
              <i class="glyphicon glyphicon-option-vertical"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
