<p id="notice"><%= notice %></p>

<%= link_to root_path, class:'logo' do %>
  pseudo<span>4</span>fun.
<% end %>


<div class="container">

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
      <div class="search-form">
        <%= search_form_for @q, id:"search-form" do |f| %>
          <i class="glyphicon glyphicon-search"></i>
          <%= f.search_field :fake_name_cont, placeholder: 'rechercher parmi les pseudos...' %>
          <%= f.submit "hit enter!", class:'btn' %>
        <% end %>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h5><strong>last entries</strong></h5>
          <%= link_to new_pseudo_path do %>
            new pseudo
          <% end %>
        </div>
        <div class="panel-body">
          <ul>
            <% @last_pseudos.each do |pseudo| %>
              <li>
                <strong><%="#{pseudo.fake_name}"%></strong> <span><%="(#{time_ago_in_words(pseudo.created_at)} ago)" %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5><strong>pseudos</strong></h5>
          <span class="badge">total : <%= @pseudos.count %></span>
        </div>
        <% @pseudos.each do |pseudo| %>
          <div class="item">
            <%= link_to pseudo_upvote_path(pseudo), class:'item-upvote', method: 'post' do %>
              <div class="item-arrow"></div>
              <div class='item-count'><%= pseudo.votes %></div>
            <% end %>
            <div class='item-body'>
              <h3><%= pseudo.fake_name %></h3>
              <p><%= pseudo.real_name %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
