<p id="notice"><%= notice %></p>

<h1>
  <%= "#{@pseudo.fake_name}" %>
</h1>


<p>
  <%= @pseudo.real_name %>
</p>

<p>
  <%= @pseudo.votes %> votes
</p>

<%= link_to 'Edit', edit_pseudo_path(@pseudo) %> |
<%= link_to 'Back', pseudos_path %>
